In [2]:
from collections import Counter

In [3]:
l = [1,2,3,4,1,2,3,1,2,1]

In [4]:
Counter(l)

Counter({1: 4, 2: 3, 3: 2, 4: 1})

In [5]:
p = "palabra"

In [6]:
Counter(p)

Counter({'p': 1, 'a': 3, 'l': 1, 'b': 1, 'r': 1})

In [8]:
animales = "gato perro canario perro canario perro"

In [9]:
Counter(animales)

Counter({'g': 1,
         'a': 5,
         't': 1,
         'o': 6,
         ' ': 5,
         'p': 3,
         'e': 3,
         'r': 8,
         'c': 2,
         'n': 2,
         'i': 2})

In [10]:
animales.split()

['gato', 'perro', 'canario', 'perro', 'canario', 'perro']

In [11]:
Counter(animales.split())

Counter({'gato': 1, 'perro': 3, 'canario': 2})

In [12]:
c = Counter(animales.split())

In [15]:
c.most_common(1)

[('perro', 3)]

In [16]:
c.most_common(2)

[('perro', 3), ('canario', 2)]

In [17]:
c.most_common()

[('perro', 3), ('canario', 2), ('gato', 1)]

In [18]:
l = [10,20,30,40,10,20,30,10,20,10]

In [19]:
c = Counter(l)

In [20]:
c.items()

dict_items([(10, 4), (20, 3), (30, 2), (40, 1)])

In [21]:
c.keys()

dict_keys([10, 20, 30, 40])

In [22]:
c.values()

dict_values([4, 3, 2, 1])

In [23]:
sum(c.values())

10

In [24]:
list(c)

[10, 20, 30, 40]

In [25]:
dict(c)

{10: 4, 20: 3, 30: 2, 40: 1}

In [26]:
d = dict(c)

In [27]:
d.most_common(1)

AttributeError: 'dict' object has no attribute 'most_common'

In [28]:
set(c)

{10, 20, 30, 40}

In [29]:
d = {}

In [30]:
d["algo"]

KeyError: 'algo'

In [31]:
from collections import defaultdict

In [32]:
d = defaultdict(float)

In [33]:
d["algo"]

0.0

In [34]:
d

defaultdict(float, {'algo': 0.0})

In [35]:
d = defaultdict(str)

In [36]:
d["algo"]

''

In [37]:
d = defaultdict(object)

In [38]:
d["algo"]

In [39]:
d

defaultdict(object, {'algo': <object at 0x24a25df4800>})

In [40]:
d = defaultdict(int)

In [41]:
d["algo"] = 10.5

In [42]:
d["algo"]

10.5

In [43]:
d["algomas"]

0

In [44]:
d

defaultdict(int, {'algo': 10.5, 'algomas': 0})

In [45]:
n = {}

In [46]:
n["uno"] = "one"

In [47]:
n["dos"] = "two"

In [48]:
n["tres"] = "three"

In [49]:
n

{'uno': 'one', 'dos': 'two', 'tres': 'three'}

In [50]:
from collections import OrderedDict

In [51]:
n = OrderedDict()

In [52]:
n["uno"] = "one"
n["dos"] = "two"
n["tres"] = "three"

In [53]:
n

OrderedDict([('uno', 'one'), ('dos', 'two'), ('tres', 'three')])

In [54]:
n1 = {}

In [55]:
n1["uno"] = "one"
n1["dos"] = "two"

n2={}
n2["dos"] = "two"
n2["uno"] = "one"

In [56]:
n1 == n2

True

In [57]:
n1 = OrderedDict()
n1["uno"] = "one"
n1["dos"] = "two"

n2 = OrderedDict()
n2["dos"] = "two"
n2["uno"] = "one"

In [58]:
n1 == n2

False

In [59]:
t = (20,40,60)

In [60]:
t[0]

20

In [61]:
t[-1]

60

In [62]:
from collections import namedtuple

In [63]:
Persona = namedtuple("Persona","nombre apellido edad")

In [65]:
p = Persona(nombre="Hector",apellido="Costa",edad="27")

In [66]:
p.nombre

'Hector'

In [67]:
p.apellido

'Costa'

In [68]:
p.edad

'27'

In [69]:
p

Persona(nombre='Hector', apellido='Costa', edad='27')

In [70]:
p[0]

'Hector'

In [71]:
p[-1]

'27'