In [113]:
from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np

bike_sharing = fetch_openml("Bike_Sharing_Demand", version=3, as_frame=True)
datos = bike_sharing.frame
datos.head(3)

,season,year,month,hour,holiday,weekday,workingday,weather,temp,feel_temp,humidity,windspeed,count
0,spring,2011.0,1.0,0.0,0.0,6.0,0.0,clear,9.84,14.395,0.81,0.0,16.0
1,spring,2011.0,1.0,1.0,0.0,6.0,0.0,clear,9.02,13.635,0.80,0.0,40.0
2,spring,2011.0,1.0,2.0,0.0,6.0,0.0,clear,9.02,13.635,0.80,0.0,32.0

In [106]:
datos['year'] = datos['year'] + 2011
datos['year'] = datos['year'].astype(int).astype(str)
datos['month'] = datos['month'].astype(int).astype(str).apply(lambda x: x.zfill(2))
datos['hour'] = datos['hour'].astype(int).astype(str)
datos['weekday'] = datos['weekday'].astype(int).astype(str)

datos['date_time'] = datos[['year', 'month', 'weekday', 'hour']].agg('-'.join, axis=1)
datos['date_time'] = pd.to_datetime(datos['date_time'], format="%Y-%m-%w-%H")
datos = datos.set_index('date_time')

In [107]:
datos

,season,year,month,hour,holiday,weekday,workingday,weather,temp,feel_temp,humidity,windspeed,count
date_time,,,,,,,,,,,,,
2011-01-01 00:00:00,spring,2011,01,0,False,6,False,clear,9.84,14.395,0.81,0.0000,16.0
2011-01-01 01:00:00,spring,2011,01,1,False,6,False,clear,9.02,13.635,0.80,0.0000,40.0
2011-01-01 02:00:00,spring,2011,01,2,False,6,False,clear,9.02,13.635,0.80,0.0000,32.0
2011-01-01 03:00:00,spring,2011,01,3,False,6,False,clear,9.84,14.395,0.75,0.0000,13.0
2011-01-01 04:00:00,spring,2011,01,4,False,6,False,clear,9.84,14.395,0.75,0.0000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-01 19:00:00,spring,2012,12,19,False,1,True,misty,10.66,12.880,0.60,11.0014,119.0
2012-12-01 20:00:00,spring,2012,12,20,False,1,True,misty,10.66,12.880,0.60,11.0014,89.0
2012-12-01 21:00:00,spring,2012,12,21,False,1,True,clear,10.66,12.880,0.60,11.0014,90.0
2012-12-01 22:00:00,spring,2012,12,22,False,1,True,clear,10.66,13.635,0.56,8.9981,61.0
2012-12-01 23:00:00,spring,2012,12,23,False,1,True,clear,10.66,13.635,0.65,8.9981,49.0

In [108]:
# Verificar que un índice temporal está completo
# ==============================================================================
len(datos.index) == len(pd.date_range(start=datos.index.min(),
                                     end=datos.index.max(),
                                     freq='1h'))

False

In [109]:
# Completar huecos en un índice temporal
# ==============================================================================
datos.asfreq(freq='30min', fill_value=np.nan)

ValueError: cannot reindex from a duplicate axis

In [111]:
datos.index.value_counts()

2011-05-01 02:00:00    31
2011-07-01 23:00:00    31
2012-07-01 16:00:00    31
2011-10-01 15:00:00    31
2011-03-01 00:00:00    31
                       ..
2011-02-01 03:00:00    24
2011-02-01 05:00:00    24
2011-01-01 04:00:00    23
2011-01-01 03:00:00    19
2011-02-01 04:00:00    18
Name: date_time, Length: 576, dtype: int64

In [112]:
datos['2011-05-01 02:00:00']

/home/ximo/anaconda3/envs/cienciadedatos/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

,season,year,month,hour,holiday,weekday,workingday,weather,temp,feel_temp,humidity,windspeed,count
date_time,,,,,,,,,,,,,
2011-05-01 02:00:00,summer,2011,05,2,False,0,False,clear,17.22,21.210,0.77,7.0015,50.0
2011-05-01 02:00:00,summer,2011,05,2,False,1,True,misty,18.04,21.970,0.77,15.0013,35.0
2011-05-01 02:00:00,summer,2011,05,2,False,2,True,misty,22.96,26.515,0.78,16.9979,5.0
2011-05-01 02:00:00,summer,2011,05,2,False,3,True,rain,20.50,24.240,0.82,19.0012,4.0
2011-05-01 02:00:00,summer,2011,05,2,False,4,True,clear,13.94,15.910,0.66,15.0013,5.0
2011-05-01 02:00:00,summer,2011,05,2,False,5,True,clear,15.58,19.695,0.62,7.0015,16.0
2011-05-01 02:00:00,summer,2011,05,2,False,6,False,clear,17.22,21.210,0.82,6.0032,52.0
2011-05-01 02:00:00,summer,2011,05,2,False,0,False,clear,19.68,23.485,0.63,0.0000,59.0
2011-05-01 02:00:00,summer,2011,05,2,False,1,True,clear,18.04,21.970,0.94,0.0000,8.0
2011-05-01 02:00:00,summer,2011,05,2,False,2,True,clear,18.04,21.970,0.58,8.9981,5.0
2011-05-01 02:00:00,summer,2011,05,2,False,3,True,clear,21.32,25.000,0.59,0.0000,10.0
2011-05-01 02:00:00,summer,2011,05,2,False,4,True,clear,18.04,21.970,0.94,12.9980,15.0
2011-05-01 02:00:00,summer,2011,05,2,False,5,True,misty,20.50,24.240,0.88,8.9981,11.0
2011-05-01 02:00:00,summer,2011,05,2,False,6,False,misty,20.50,24.240,0.88,8.9981,52.0
2011-05-01 02:00:00,summer,2011,05,2,False,0,False,misty,21.32,25.000,1.00,8.9981,50.0
2011-05-01 02:00:00,summer,2011,05,2,False,1,True,clear,20.50,24.240,1.00,6.0032,13.0
2011-05-01 02:00:00,summer,2011,05,2,False,2,True,rain,22.96,26.515,0.88,0.0000,8.0
2011-05-01 02:00:00,summer,2011,05,2,False,3,True,rain,21.32,25.000,0.94,15.0013,6.0
2011-05-01 02:00:00,summer,2011,05,2,False,4,True,clear,20.50,24.240,0.94,0.0000,15.0
2011-05-01 02:00:00,summer,2011,05,2,False,5,True,clear,18.04,21.970,1.00,6.0032,8.0
2011-05-01 02:00:00,summer,2011,05,2,False,6,False,clear,21.32,25.000,0.72,7.0015,40.0
2011-05-01 02:00:00,summer,2011,05,2,False,0,False,clear,21.32,25.000,0.94,7.0015,68.0
2011-05-01 02:00:00,summer,2011,05,2,False,1,True,rain,22.96,26.515,0.88,11.0014,5.0
2011-05-01 02:00:00,summer,2011,05,2,False,2,True,misty,24.60,25.760,0.94,12.9980,10.0
2011-05-01 02:00:00,summer,2011,05,2,False,3,True,misty,22.96,26.515,0.94,0.0000,8.0
2011-05-01 02:00:00,summer,2011,05,2,False,4,True,clear,25.42,28.790,0.83,7.0015,14.0
2011-05-01 02:00:00,summer,2011,05,2,False,5,True,clear,27.88,31.820,0.61,15.0013,18.0
2011-05-01 02:00:00,summer,2011,05,2,False,6,False,clear,22.96,26.515,0.94,12.9980,48.0
2011-05-01 02:00:00,summer,2011,05,2,False,0,False,clear,25.42,28.030,0.88,7.0015,61.0
2011-05-01 02:00:00,summer,2011,05,2,True,1,False,clear,26.24,28.030,0.94,12.9980,45.0
2011-05-01 02:00:00,summer,2011,05,2,False,2,True,misty,27.06,29.545,0.94,8.9981,12.0